/* .lobby-card {
  margin: 10px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.lobby-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.lobby-card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.lobby-card .card-text {
  margin: 0.5rem 0;
}


 */

 .lobby-card-container {
  /* margin-top: 0.5rem; */
  display: flex;
  justify-content: center;
  /* width: 100%; */
  /* background-color: #fff; */
  background-image: url(./front/images/banner2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.lobby-card {
  /* width: 50%; */
  /* margin-top: 50px; */
  /* height: auto; */
  max-width: 100px;
  /* background-color: #fff; */
  /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); */
  /* border-radius: 10px; */
  padding: 50px;
  
}


.card-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-buttons button {
  margin: 0 0.5rem;
}


.list-group-item {
  /* width: 50px; */
  background-color: rgba(0, 0, 0, 0.1);
  /* opacity: 0.7; */
  border: none;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 20px;
  
  
}

.card-title {
  margin-top: 2rem;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100px;
}

.card-title.open {
  /* background-color: green; */
  color: gold;
}

.card-title.started {
  color: #FFA07A;
}

.card-subtitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

/* .list-group-item:hover {
  background-color: #e9ecef;
} */


