.chat-app {
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* background-image: url(./front/images/bg_lobby2.png); */
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* width: 30vw; */
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 2rem; */
  padding: 5rem;
  margin-bottom: 20px;
  border: none;
}

.user-bubble {
  position: absolute;
  /* top: 50px; */
  /* right: 10px; */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  max-height: 200px;
  overflow-y: scroll;
  z-index: 1;
}

.user-bubble li {
  list-style: none;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #eee;
  font-size: 14px;
}

.user-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 8px;
}


.user-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;
}

.user-card-username {
  font-weight: bold;
}

.user-card-lobby {
  margin-top: 4px;
  font-size: 0.8rem;
  color: #666;
}




.lobby-container {
  /* overflow-y: auto; */
  /* background-color: white; */
  /* background-image: url(./front/images/bg_lobby.png); */
  background-image: url(./front/images/bg_chat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding: 2rem;
}


.chat-log {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  /* height: 20vh; */
  /* width: 50vw; */
  border: 1px solid black;
}

.chat-log li {
  margin: 0.5rem;
}

.chat-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  padding: 1rem;
}

.seeAllUsers, .seeAllGames {
  width: 150px;
  /* height: fit-content; */
  background-image: url(./front/images/btn_common.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  color: white;
}
/*
.chat-input > button {
  width: 100px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.chat-input > button:hover {
  background-color: #3e8e41;
}
*/

.lobby-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 30vw;
  padding: 1rem;
  /* max-width: calc(100vw - 2rem); */
  overflow-x: auto;
  /* border: none; */
}

.lobby-card h2 {
  margin: 0.5rem 0;
}

.lobby-card p {
  margin: 0;
}

.lobby-card button {
  margin-top: 1rem;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.lobby-card button:hover {
  background-color: #3e8e41;
}

.custom-button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease;
  cursor: pointer;
}

.div-lobby-input {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  display: inline-flex;
  align-items: center;

  background-image: url(./front/images/btn_lobby2.png);
  background-repeat: no-repeat;
  background-position: start;
  background-size: contain;

  /* justify-content: space-around; */
  /* width: 70%; */
  /* height: auto; */
  /* object-fit: fill; */

}

.lobby-input {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  
}

.lobby-input-label {
  font-weight: bold;
  font-size: 1.5rem;
  /* margin-right: 1rem; */
}

.lobby-input-text {
  /* border: 1px solid #ccc; */
  background-color: transparent;
  border: none;
  /* bac */
  color: white;
  /* border-radius: 5px; */
  padding: 0.5rem;
  margin-right: 1rem;
  font-size: 1rem;
  flex-grow: 1;
  outline: none;
  /* margin-left: 2rem; */
  /* padding-left: 2rem; */
  text-align: center
  
}

/* 방만들기 버튼 */
.lobby-button {
  /* background-color: #a3d2ca; */
  background-image: url(./front/images/btn_common.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lobby-button:hover {
  background-color: #e17055;
  transform: translateY(-2px);
}

.startGame {
  width: 15rem;
  /* width: auto; */
  background-color: transparent;
  background-image: url(./front/images/btn_game_start.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: auto; */
  color: #fff;
  border: none;
  padding: 10px 20px;
  /* border-radius: 5px; */
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.startGame:hover {
  transform: scale(1.5);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.startGame::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.startGame:hover::before {
  width: 100%;
}

.startGame:active {
  transform: translateY(0px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}



