/* Login.css */

@import url('https://webfontworld.github.io/pocheon/MakGeolli.css');

.font {
  font-family: 'MakGeolli';
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.background {
  /* background-image: url("https://picsum.photos/1920/1080"); */
  background-image: url("./front/images/coup-logo-explain.png");
  background-size: contain;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  position: relative;
}

.background::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: fade-out 3s linear forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}


.login-container {
  background-color: rgba(22, 164, 231, 0.9);
  border-radius: 20px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.3);
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-up 0.5s ease-out forwards;
  transform: translateY(100%);
}

.login-container.animate {
  animation: slide-down 0.5s ease-out forwards;
  transform: translateY(0%);
}

@keyframes slide-down {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}


@keyframes slide-up {
  to {
    transform: translateY(0%);
  }
}



.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'MakGeolli';
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

label {
  font-family: 'MakGeolli';
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.form-control {
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.btn-primary {
  font-family: 'MakGeolli';
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  font-size: 2rem;
  width: 100%;
  background-color: #ff6b6b;
  margin-top: 20px;
  color: white;
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(-30%);
  }
  50% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0%);
  }
}



.btn-primary:hover {
  font-family: 'MakGeolli';
  background-color: #ff4757;
  transform: scale(1.1);
}
