/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://webfontworld.github.io/pocheon/MakGeolli.css');

.App {
  aspect-ratio: 16/9;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./front/images/bg3_mainpage.png);
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.welcome-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vmin;
}

.btn-youtube {
  background-image: url(./front/images/youtube-logo.png);
  width: 6vw;
  height: 7.5vh;
  display: block;
  margin: 0 1.5vw;
  border: none;
  border-radius: 1vmin;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  animation: bounce 3s infinite;
  transition: transform 1.5s ease-in-out 3s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.welcomeMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'MakGeolli';
  font-size: 11vmin;
  text-align: center;
  position: relative;
  animation: shadow 4s linear infinite;
}

@keyframes shadow {
  0% {
    text-shadow: 0px 0px 0px white, 0px 0px 10px yellow, 0px 0px 20px yellow, 0px 0px 30px yellow, 0px 0px 40px yellow, 0px 0px 50px yellow, 0px 0px 60px yellow, 0px 0px 70px yellow, 0px 0px 80px yellow;
  }

  50% {
    text-shadow: 0px 0px 0px white, 0px 0px 10px green, 0px 0px 20px green, 0px 0px 30px green, 0px 0px 40px green, 0px 0px 50px green, 0px 0px 60px green, 0px 0px 70px green, 0px 0px 80px green;
  }

  100% {
    text-shadow: 0px 0px 0px white, 0px 0px 10px yellow, 0px 0px 20px yellow, 0px 0px 30px yellow, 0px 0px 40px yellow, 0px 0px 50px yellow, 0px 0px 60px yellow, 0px 0px 70px yellow, 0px 0px 80px yellow;
  }
}

.btn-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
  height: 7.5vh;
  margin: 0 1.5vw;
  border: none;
  border-radius: 1vmin;
  background-color: #222;
  color: #fff;
  font-size: 2.3vmin;
  font-weight: bold;
  text-align: center;
  box-shadow: 0.4vw 1.6vh 1.5vmin #000, 0.8vw 0.4vh 3vmin rgba(0, 0, 0, 0.9);
  transition: all 0.2s ease-out;
  cursor: pointer;
  outline: none;
}

.btn-logout:hover {
  transform: translateY(-0.1vmin);
  box-shadow: 0 0.16vh 0 #000, 0px 0.32vh 0.75px rgba(0, 0, 0, 0.3);
}

.main-logo {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0%);
  animation: slide-up1 1s ease forwards;
}

@keyframes slide-up1 {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

.main-logo-img {
  width: 50%;
  height: 25%;
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3vh;
}

.card-wrap {
  background-image: url(./front/images/bg_lobby2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex: 1 1 45%;
  margin-bottom: 3vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateY(100%);
  animation: slide-up 1s ease forwards;
}

.card-wrap::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 18.5vh;
  background-image: url(./front/images/bg_menubar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-btn {
  width: 7.3vw;
  height: fit-content;
  background-color: rgb(235, 190, 135);
  border: 1px solid gray;
  color: #333;
  cursor: pointer;
  font-size: 2.8vmin;
  font-weight: bold;
  margin: 5.6vmin 1.4vmin 0 1.4vmin;
  transition: all 0.3s ease;
}

.menu-btn.active {
  background-color: #333;
  color: white;
}

.menu-content {
  height: fit-content;
  width: 60%;
  padding-bottom: 5vh;
}

/* .Board-container {
  display: inline;
} */

.chat-wrap {
  /* width: 70%; */
  height: auto;
}

/* 모달 */

/* MainPage.css */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-contents {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  max-width: 1000px;
  max-height: 800px;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  z-index: 1001;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 0 0 0 1rem;
  cursor: pointer;
  z-index: 1002;
}

.modal-iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1rem;
}