.announcement {
  font: bold 2vmin "TmonMonsori";
  text-align: center;
  overflow-y: scroll;
  height: 12vh;
  padding: 1vh 0 1vh 0;
}

.announcement::-webkit-scrollbar {
  display: none;
}

.anc-message {
  color: yellowgreen;
}