.banker {
  position: relative;
  display: inline;
  float: left;
  width: 100vw;
  height: auto;
  background-color: black;
}

.announcement {
  /* display: block; */
  padding: 2vmin;
  /* margin: 10px; */
  font: bold 4vmin "TmonMonsori";
  text-align: center;
  overflow-y: scroll;
}

.announcement::-webkit-scrollbar {
  display: none;
}

.turn {
  color: white;
}

.anc-message {
  color: yellowgreen;
}