.banker {
  position: relative;
  display: inline;
  float: left;
  width: calc(100vmin);
  height: calc(100vmin * 230 / 1920);
  text-align: left;
}

.announcement {
  /* display: block; */
  padding: 10px;
  /* margin: 10px; */
  font: bold 4vmin "TmonMonsori";
}

.turn {
  color: white;
}

.anc-message {
  color: yellowgreen;
}