.chatWrapper {
    display: flex;
    flex-direction: column;
    background-image: url(./images/bg_chat.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1vmin;
}

/* 채팅창 보이게 하려면 스타일 적용해야 함 */
.chatcontainer {
    border: 1px solid black;
    border-radius: 1vmin;
    height: 35vh;
    background-color: rgb(235, 190, 135);
    margin: 0.5vmin;
    font-size: 2vmin;
    font-weight: bold;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* align-items: flex-start; */
    /* 파이어폭스 */
    text-align: start;
    padding: 1vmin;
    /* color: white; */
}

.chatcontainer::-webkit-scrollbar {
    display: none;
}

.messageLabel {
    background-color: rgb(235, 190, 135);
    border: 0.3vmin solid black;
    border-radius: 10vmin;
    margin: 0.5vmin;
    border-radius: 3%;
    height: 5vh;
    display: flex;
    align-items: center;
}

.messageInput {
    width: 28vw;
    height: 4vh;
    font-size: 2vmin;
    font-weight: bold;
    padding: 0 0 0 1vmin;
    border: none;
    background-color: transparent;
    float: left;
}

.messageInput::placeholder {
    color: rgb(255, 255, 255);
    /* text-shadow: -0.1px 0 black, 0 0.1px black, 0.1px 0 black, 0 -0.1px black; */
}

.submitBtn {
    background-color: transparent;
    border: none;
    color: white;
    padding: 1.2vh 1.5vw;
    font-size: 2.5vmin;
    cursor: pointer;
    float: right;
    border-radius: 1vmin;
}