.chatWrapper {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 30vw;
}

/* 채팅창 보이게 하려면 스타일 적용해야 함 */
.chatcontainer {
    border: 0.5vmin solid black;
    border-radius: 3%;
    height: 35vh;
    background-color: bisque;
    margin: 0.5vmin;
    font-size: 2vmin;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */
}

.chatcontainer::-webkit-scrollbar {
    display: none;
}

.messageLabel {
    background-color: bisque;
    border: 0.5vmin solid black;
    margin: 0.5vmin;
    border-radius: 3%;
    height: 5vh;
    display: flex;
    align-items: center;
}

.messageInput {
    width: 28vw;
    height: 4vh;
    font-size: 2vmin;
    border: none;
    background-color: bisque;
    float: left;
}

.submitBtn {
    background-color: DodgerBlue;
    border: none;
    color: bisque;
    padding: 1.2vh 1.2vw;
    font-size: 2.5vmin;
    cursor: pointer;
    float: right;
}