.img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.player {
  /* border: 0.5vmin solid black; */
  width: 20vw;
  height: 19vh;
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player_font {
  width: auto;
  font: bold 3vmin "TmonMonsori";
  margin: 1px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

.player_font:hover {
  background-color: yellow;
  border: 2px solid red;
}

.card_container {
  display: flex;
}

.cardImg {
  position: relative;
  float: left;
  width: 7vw;
  height: 10vh;
  margin-left: 5px;
}

.coin_container {
  display: flex;
  /* align-items: center; */
}

.coin {
  position: relative;
  float: left;
  background-image: url(./images/coin.png);
  width: 4vmin;
  height: 4vmin;
}

.coin_font {
  font-family: 'Courier New', Courier, monospace;
  font-size: 5vmin;
  font-weight: bold;
}