.gameDiv {
  background-image: url(../front/images/wood2.jpg);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.topDiv {
  background-color: white;
  background-image: url(../front/images/title.png);
  background-repeat: no-repeat;
  background-size: 50vmin 100%;
  width: 100vw;
  height: 10vh;
}

.bankerDiv {
  height: 10vh;
}

.bottomDiv {
  display: flex;
  height: 80vh;
}

.logAndChatDiv {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 80vh;
}

.logDiv {
  border: 1px solid black;
  height: 40vh;
  margin: 0.5vmin;
  border-radius: 3%;
  font-size: 2vmin;
  overflow-y: scroll;
}

.logDiv::-webkit-scrollbar {
  display: none;
}

.consoleAndPlayerDiv {
  /* border: 1px solid black; */
  width: 70vw;
  margin: 0.5vmin;
}

.playerDiv {
  border: 1px solid black;
}