.boardTitle {
    font: bold 30px "TmonMonsori";
}

.board-wrap {
    /* height: 500px; */
    /* background-image: url(../front/images/paperbg.png); */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.board-wrap > * {
    background: transparent;
}