.post-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.post-container h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #3b3b3b;
}

.post-container p {
  font-size: 18px;
  margin-bottom: 5px;
  color: #555;
}

.post-container button {
  padding: 8px 16px;
}

.post-container button:hover {
  background-color: #555;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-writer,
.post-readCount,
.post-date {
  display: inline-block;
  margin-right: 20px;
}

.post-content {
  margin-top: 20px;
  margin-bottom: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
}