.writeReplyForm {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.replyContent {
    width: 100%;
}

.replyContent input {
    width: 100%;
    padding: 5px;
}

.replyContentTextarea {
    width: 100%;
    resize: none;
    height: 48px;
    line-height: 16px;
    border-color: lightgray;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.replyBtn {
    margin-left: 5px;
}

.comment-table {
    width: 100%;
}

.column-writer {
    width: 20%;
}

.date-div {
    font-size: 11px;
}

.column-content {
    width: 60%;
    text-align: left;
    vertical-align: middle;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.column-actions {
    width: 20%;
    vertical-align: middle;
}

.comment-actions {
    position: relative;
    display: inline;
}

.toggle-button {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
}

.more-options {
    position: absolute;
    bottom: 24px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    z-index: 1;
}

.more-options button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}