.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 80px;
  background-color: #F8F8F8;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

label {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.form-group {
  margin-bottom: 30px;
}

.form-control {
  border-radius: 5px;
  border: none;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.write-text {
  resize: none;
  height: 80px;
  line-height: 16px;
}

.write-text::-webkit-scrollbar {
  display: none;
}

.btn-primary {
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

.btn-secondary {
  background-color: #E2E2E2;
  color: #333;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

.btn-primary:hover,
.btn-secondary:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.btn-primary:focus,
.btn-secondary:focus {
  box-shadow: none;
  outline: none;
}